@charset "utf-8";

@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";

@import  "https://fonts.googleapis.com/css?family=Open+Sans";

/*------------------------------------------------------------------

Styles for Flat Design

-------------------------------------------------------------------*/

/*----------------------------------------------

{ TABLE OF CONTENTS }

1. General Styles
 
----------------------------------------------*/


/* ---------------------------------------------

Header

------------------------------------------------*/
.flat header:after {
	position: absolute;
	bottom: 0;
	content: '';
	width: 100%;
	z-index: 1;
	background: #000;
	height: 65px;
}

.flat .upper-nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    line-height: 0px;
    padding: 0 0 0 25px;
    background: #0e0e0e;
}

/*main title*/
.flat .home-section h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 68px;
}

/*social menu links on home section*/
.flat .home-section .social-links {
    z-index: 2;
    left: 0!important;
    bottom: 0!important;
    height: 65px;
    line-height: 65px;
    padding: 0 20px;
    font-size: 13px;
    background: #212121;
}

/*gets rid of mouse box in flat version*/
.flat .mouse-box {
	display: none;
}

/*the menu toggle button*/
.flat .toggle-menu {
    height: 80px;
    width: 80px;
    border-radius: 0;
    border: none;
    position: relative;
    z-index: 9999;
    overflow: visible;
    top: 0;
    padding: 0px 25px;
    float: right;
    margin: 0;
    background: #303030;
}

/*contact button*/
.flat .contact-btn {
    position: absolute;
    top: 0;
    color: #fff;
    right: 80px;
    z-index: 999;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 0 26px;
    line-height: 80px;
    font-weight: 700;
    height: auto;
    border: none;
    background: #202020;
    font-family: 'Montserrat', Arial, sans-serif;
}

/* ---------------------------------------------

Overlay Menu

------------------------------------------------*/
.flat .overlay {
	position: fixed;
    height: calc(100% - 80px);
    top: 80px;
    right: 0;
    bottom: 65px;
    width: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
}

.flat .overlay .side-info {
	background: #000;
}

/*styles after menu opens*/
.overlay.open ~ .upper-nav .toggle-menu em {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
}

.upper-nav .toggle-menu em,
.overlay.open .upper-nav .toggle-menu {
    -webkit-transition: all .5s cubic-bezier(0.7,0,0.3,1);
    transition: all .5s cubic-bezier(0.7,0,0.3,1);
}

/*rotates the hamburger menu elements*/
.overlay.open ~ .upper-nav .toggle-menu em:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay.open ~ .upper-nav .toggle-menu em:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.overlay.open ~ .upper-nav .toggle-menu em:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*links on the side*/
.flat .overlay .side-info a {
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
}

/*menu footer*/
.flat .photo-menu .side-info .info-footer {
	background: #121212;
	padding: 20px;
	bottom: 0;
}

/*hides contact button when menu is open*/
.overlay.open ~ .upper-nav .contact-btn {
	display: none;
}


/* ---------------------------------------------

Section Titles

------------------------------------------------*/
/*container that holds the bottom bar wrapping the like button, caption and read more button*/
.flat .section-title {
    background: #000;
    bottom: 0;
    height: 65px;
    line-height: 65px;
    text-align: left;
    padding-left: 270px;
}

.flat .section-title h2 {
	display: inline-block;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', Arial, sans-serif;
    transition-delay: 0s;
    vertical-align: middle;
}

.flat .section-title p {
	display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    margin-left: 15px;
    position: relative;
    font-family: 'Open Sans', Arial, sans-serif;
    transition-delay: 0s;
}

/*small hyphen next to location in caption*/
.flat .section-title p:after {
    position: absolute;
    content: '';
    right: calc(100% + 5px);
    height: 1px;
    background: #fff;
    width: 8px;
    top: 50%;
}

/* read more button*/
.flat .section-title a {
    color: #fff;
    position: absolute;
    width: 150px;
    display: inline-block;
    left: 100px;
    text-align: center;
    background: #222;
}

/*icon inside read more button*/
.flat .section-title a i {
    font-size: 22px;
    display: inline-block;
    line-height: 65px;
}

.flat .section-title a:hover span {
    -webkit-transform: none!important;
    transform: none!important;
}

/*text "read more" in the button"*/
.flat .section-title span {
    position: relative;
    bottom: auto;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 0;
    display: inline-block;
    left: 0;
    -webkit-transform: none;
    transform: none;
    border-radius: 0;
    font-weight: 400;
    line-height: 65px;
    opacity: 1;
    background: transparent;
    color: #fff;
    transition: all .3s ease;
    width: auto;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    visibility: visible;
    vertical-align: top;
    margin-left: 5px;
    font-family: 'Montserrat', Arial, sans-serif!important;
}

/*the like button*/
.flat .section-title a.likes {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    line-height: 65px;
    width: 100px;
    text-align: center;
    padding: 0;
    background: #151515;
    color: rgba(255, 255, 255, 0.5);
}

/*the heart in the like button*/
.flat .section-title a.likes i {
    font-size: 12px;
    display: inline-block;
    line-height: 65px;
    vertical-align: top;
}

/*like counter*/
.flat .section-title a.likes span {
    position: relative;
    z-index: 9999;
    bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
    padding: 0;
    display: inline-block;
    left: 0;
    line-height: 1;
    -webkit-transform: none;
    transform: none;
    border-radius: 0px;
    font-weight: 400;
    opacity: 1;
    background: transparent;
    color: inherit;
    transition: all .3s ease;
    width: auto;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    visibility: visible;
    vertical-align: top;
    line-height: 65px;
}

.flat .section-title a span:after {
	content: none;
}



/* ---------------------------------------------

Next And Previous Buttons

------------------------------------------------*/
.flat .next-prev {
	bottom: 0;
	right: 0;
}

.flat .next-prev a {
	display: inline-block;
}

.flat .next-prev a:first-child {
	background: #1b1b1b;
	margin-right: -3px;
}

.flat .next-prev a:last-child {
	background: #222;
}

.flat .next-prev a i {
    font-size: 10px;
    height: 65px;
    height: 65px;
    line-height: 65px;
    vertical-align: top;
}



/* ---------------------------------------------

Dotted Nav

------------------------------------------------*/

.flat #fp-nav {
    bottom: 65px;
    top: auto;
    right: auto!important;
    width: auto;
    left: 0!important;
}

.flat #fp-nav ul li a span:before {
	color: #fff;
	font-size: 11px;
	line-height: 40px;
	width: 40px;
	display: block;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 700;
}

.flat #fp-nav ul li a:before {
	content: none!important;
}

.flat #fp-nav ul li:nth-child(1) a span:before { 
    content: '\f015';
    font-weight: 100;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-variant: normal;
    font-size: 14px;
}

.flat #fp-nav ul li:nth-child(2) a span:before { content: '1'; }
.flat #fp-nav ul li:nth-child(3) a span:before { content: '2'; }
.flat #fp-nav ul li:nth-child(4) a span:before { content: '3'; }
.flat #fp-nav ul li:nth-child(5) a span:before { content: '4'; }
.flat #fp-nav ul li:nth-child(6) a span:before { content: '5'; }
.flat #fp-nav ul li:nth-child(7) a span:before { content: '6'; }
.flat #fp-nav ul li:nth-child(8) a span:before { content: '7'; }
.flat #fp-nav ul li:nth-child(9) a span:before { content: '8'; }
.flat #fp-nav ul li:nth-child(10) a span:before { content: '9'; }
.flat #fp-nav ul li:nth-child(11) a span:before { content: '10'; }
.flat #fp-nav ul li:nth-child(12) a span:before { content: '11'; }
.flat #fp-nav ul li:nth-child(13) a span:before { content: '12'; }
.flat #fp-nav ul li:nth-child(14) a span:before { content: '13'; }
.flat #fp-nav ul li:nth-child(15) a span:before { content: '14'; }
.flat #fp-nav ul li:nth-child(16) a span:before { content: '15'; }


.flat #fp-nav ul {
	position: relative;
	-webkit-transform: none;
	transform: none;
	width: auto;
}

.flat #fp-nav ul li a, .flat .fp-slidesNav ul li a {
    height: 40px;
    width: 40px;
    margin: 0;
    position: relative;
    background: #121212;
}

.flat #fp-nav ul li a.active, .flat .fp-slidesNav ul li a.active {
	background: #fff;
	width: 80px;
}

.flat #fp-nav ul li, .flat .fp-slidesNav ul li {
    margin: 0!important;
    height: 40px;
    width: 40px;
    overflow: visible;
}

.flat #fp-nav ul li a span {
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    color: #000;
    width: 40px;
   	background: transparent;
}

.flat #fp-nav ul li a.active span {
	background: transparent;
}

.flat #fp-nav ul li a:before {
    position: absolute;
    height: 2px;
    left: 0;
    background: #000;
    width: 0px;
    content: '';
    top: calc(50% - 1px);
    -webkit-transition: all .5s cubic-bezier(0.7,0,0.3,1) .5s;
    transition: all .5s cubic-bezier(0.7,0,0.3,1) .5s;
}

.flat #fp-nav ul li a.active span:before {
    color: #000;
}

/* ---------------------------------------------

md-close

------------------------------------------------*/
.flat .md-close {
	background: #000;
	width: 100%;
	bottom: 0;
	height: 65px;
	line-height: 65px;
}

.flat .md-close:after {
	font-size: 40px;
}

.flat .contact .submit-btn {
	margin: 0;
	background: #000;
}

.flat .contact-form input, 
.flat .contact-form textarea {
	border: 2px solid #fff;
	background: transparent;
	font-size: 16px;
	font-family: 'Montserrat', Arial, sans-serif;
	padding: 20px;
}
/* ---------------------------------------------

Description Modals

------------------------------------------------*/
.flat .photo-desc h3 {
	font-family: 'Montserrat', Arial, sans-serif;
}

.flat .photo-desc p {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
	transition-delay: 0s;
}

.flat .photo-desc .share-photo a {
	-webkit-transform: scale(0);
	transform: scale(0);
	transition-property: all;
	transition-timing-function: ease;
	transition-duration: .5s;
}

.flat .photo-desc.md-show .share-photo a {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.flat .photo-desc.md-show .share-photo a:nth-child(1) { transition-delay: .1s; }
.flat .photo-desc.md-show .share-photo a:nth-child(2) { transition-delay: .2s; }
.flat .photo-desc.md-show .share-photo a:nth-child(3) { transition-delay: .3s; }
.flat .photo-desc.md-show .share-photo a:nth-child(4) { transition-delay: .4s; }
.flat .photo-desc.md-show .share-photo a:nth-child(5) { transition-delay: .5s; }







@media (max-width: 992px) {
	.flat .home-section h1 {
		font-size: 48px!important;
	}

	.flat .social-links {
		margin: 0!important;
		background: #000!important;
	}
}

@media (max-width: 768px) {
	.flat .home-section h1 {
		font-size: 32px!important;
	}

	.flat .section-title {
		padding: 0 20px!important;
		height: 50px;
		line-height: 50px;
	}

	.flat .section-title h2 {
		font-size: 13px;
	}

	.flat .section-title .like {
		height: 40px!important;
		bottom: 50px!important;
	}

	.flat .section-title a {
		height: 40px!important;
		line-height: 40px!important;
		bottom: 50px!important;
		top: auto!important;
	}

	.flat .section-title i,
	.flat .section-title span {
		line-height: 40px!important;
		font-size: 11px!important;
	}

	.flat .contact-btn {
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	    transform-origin: right;
	    right: 40px!important;
	    top: 180px!important;
	    background: rgba(0, 0, 0 , .4)
	}
}