/* ---------------------------------------------

UI on page load

------------------------------------------------*/
/*fade in page*/
.main-content {
    opacity: 0;
    -webkit-animation: fadein 2s ease 4.2s forwards;
    animation: fadein 2s ease 4.2s forwards;
}


@-webkit-keyframes fadein {
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}



/*slide down on load*/
.upper-nav {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: appear .4s ease 4.5s forwards;
    animation: appear .4s ease 4.5s forwards;
}


/*slide up on load*/
.section-title,
.next-prev,
header:after,
.social-links {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-animation: appear .4s ease 4.5s forwards!important;
    animation: appear .4s ease 4.5s forwards!important;

}

#fp-nav ul li, .fp-slidesNav ul li {
    -webkit-transform: translateX(calc(-100% - 40px));
    transform: translateX(calc(-100% - 40px));
    -webkit-animation: appear .4s ease 5s forwards!important;
    animation: appear .4s ease 5s forwards!important;   
}

/*the animation to make everything appear*/
@-webkit-keyframes appear {
    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes appear {
    to {
        -webkit-transform: none;
        transform: none;
    }
}

/* ---------------------------------------------

preloader

------------------------------------------------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999999;
}

/*logo in preloader*/
.preloader img {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}

/*3 columns on bottom explaining scroll*/
.preloader .scroll-info {
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.preloader .scroll-info h6 {
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: 1px;
    font-weight: 700;
}

.preloader .scroll-info span {
    display: block;
    text-align: center;
    clear: left;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: .6px;
}

/*arrow keys*/
.preloader .scroll-info .keys {
    display: table;
    margin: 0 auto;
    clear: both;
    content: '';
    text-align: center;
}

.preloader .scroll-info .keys i {
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    border: 2px solid #000;
    display: inline-block;
}

.preloader .scroll-info .keys i:nth-child(1) {
    display: block;
    margin: 0 auto;
    border-bottom: none;
    -webkit-animation: press 1s infinite;
    animation: press 1s infinite;
}

.preloader .scroll-info .keys i:nth-child(2) {
    border-right: none;
}

.preloader .scroll-info .keys i:nth-child(3) {
    -webkit-animation: press 1s infinite;
    animation: press 1s infinite;
}

.preloader .scroll-info .keys i:nth-child(4) {
    border-left: none;
}

/*mouse scroll animation*/
.preloader .mouse-box {
    display: block!important;
    margin : 0 auto;
    position: relative;
    -webkit-transform : none;
    transform: none;
    text-align: center;
    left: 0;
    bottom: 0;
}

.preloader .mouse {
    border: 2px solid #000;
}

.preloader .mouse:after {
    border: none;
    background: #000;
}

/*touch support animation*/
.preloader .touch {
    display: block;
    margin: 0 auto;
}

.preloader .touch i:first-child {
    font-size: 22px;
    position: absolute;
    top: 20px;
    left: calc(50% - 32px);
    -webkit-animation: point 1s ease infinite;
    animation: point 1s ease infinite;
}

.preloader .touch i:last-child {
    font-size: 48px;
}

/*preloader top and bottom section*/
.preloader .half {
    background: #fff;
    height: 50%;
    position: relative;
}

.preloader .half:after {
    position: absolute;
    content: '';
    height: 4px;
    left: 0;
    width: 100%;
    background: #000;
    -webkit-animation: bar 4s cubic-bezier(0.7,0,0.3,1) forwards;
    animation: bar 4s cubic-bezier(0.7,0,0.3,1) forwards;
}

/*top half of preloader*/
.preloader .top-half {
    -webkit-animation: up .5s cubic-bezier(0.7,0,0.3,1) forwards 4s;
    animation: up .5s cubic-bezier(0.7,0,0.3,1) forwards 4s;
}

.preloader .top-half:after {
    bottom: 0;
}

/*bottom half of preloader*/
.preloader .bottom-half {
    -webkit-animation: down .5s cubic-bezier(0.7,0,0.3,1) forwards 4s;
    animation: down .5s cubic-bezier(0.7,0,0.3,1) forwards 4s;
}

.preloader .bottom-half:after {
    top: 0;
}

/*preloader containing top and bottom halfs*/
.preloader {
    opacity: 1;
    -webkit-animation: preloader 1s cubic-bezier(0.7,0,0.3,1) 4s forwards;
    animation: preloader 1s cubic-bezier(0.7,0,0.3,1) 4s forwards;
}

/*animation that make preloader hidden after load*/
@-webkit-keyframes preloader {
    to {
        backface-visibility: hidden;
        visibility: hidden;
    }
}

@keyframes preloader {
    to {
        backface-visibility: hidden;
        visibility: hidden;
    }
}

/*sends upper half up*/
@-webkit-keyframes up {
    from { 
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes up {
    from { 
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

/*sends bottom half down*/
@-webkit-keyframes down {
    from { 
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes down {
    from { 
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

/*animation for up and down arrow*/
@-webkit-keyframes press {
    from { 
        background: transparent;
        color: #000; 
    }

    to {
        background: #000;
        color: #fff;
    }
}

@keyframes press {
    from { 
        background: transparent;
        color: #000; 
    }
    to {
        background: #000;
        color: #fff;
    }
}

/*animation for pointer*/
@-webkit-keyframes point {
    from { 
        top: 20px; 
    }
    to {
        top: 12px;
    }
}

@keyframes point {
    from { 
        top: 20px; 
    }
    to {
        top: 12px;
    }
}

/*Loading Bar*/
@-webkit-keyframes bar {
    from { 
        left: -100%; 
    }
    to {
        left: 0;
    }
}

@keyframes bar {
    from { 
        left: -100%; 
    }
    to {
        left: 0;
    }
}