body {
	font-family: 'Open Sans', sans-serif !important;
}

.single-carousel .item p, .error-wrap p, .section-title p, blockquote p, .custom-inner h4 {
	font-family: 'Open Sans', sans-serif;
}

.loader {
	background-image: url('/logo.png');
	background-size: 100%;
	border-left: 0;
    animation: load8 1.5s infinite linear;
}

@media (min-width: 1025px) {
	.menu-logo img {
		width: 250px;
	}
}

@media (max-width: 1024px) {
	.menu-logo img {
		width: 250px;
	}
}

section.dec-sec:before {
	width: 100%;
}

.bg-title {
	bottom: -30%;
}

.inline-filter .gallery-filter.gallery-filter-active, .folio-counter div {
	color: #FFF;
}

@media (max-width: 768px) {
	.page-photography .login-btn {
		top: 127px;
    	right: 20px;
	}
}

.custom-inner h4 {
	font-weight: 700;
}

.order-wrap:before {
	content: "\f083";
}

.resum-header.workres:after {
	content: "\f017";
}



/* Layout home - photography */

	

/* @media (min-width: 1025px) {
    .home-content .q-discover-tab-home {
		min-height: 800px;
	}
}

@media (max-width: 1024px) {
    .home-content .q-discover-tab-home {
		min-height: 800px;
	}
} */

.home-content .q-discover-tab-home {
	position: relative;
}

.home-content .q-albums-tab-home {
	position: relative;
	margin-top: 20px;
}

.home-content .list-album-photography {
	text-align: center;
	
}

.home-content .list-album-photography .item {
	width: 225px;
	min-height: 300px;
	margin: 10px;
	background-color: #FFF;
	padding: 10px;
	display: inline-block;
	position: relative;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.home-content .list-album-photography .item a {
	padding: 0;
}

.home-content .list-album-photography .item .images-rotation {
	width: 205px;
	height: 205px;
}

.home-content .list-album-photography .item img {
	width: 100%;
	height: 100%;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.home-content .list-album-photography .item h4 {
	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 14px;
 	font-weight: 700;
    padding: 20px 0 0 0;
    color: #000;
    margin: 0 auto;
    width: 100%;
}

.home-content .list-album-photography .item h5 {
	font-family: Helvetica, Arial, sans-serif;
 	font-size: 10px;
 	font-style: italic;
    padding: 10px 0 0 0;
    color: #6b6b6b;
    margin: 0 auto;
    width: 100%;
}