/**
 * BlankPlate | Yet another HTML5 Starter Kit
 *
 * BlankPlate Main stylesheet
 *
 * @copyright	Copyright 2012, Dimitris Krestos
 * @license		Apache License, Version 2.0 (http://www.opensource.org/licenses/apache2.0.php)
 * @link		http://vdw.staytuned.gr/html5-starter-kit-blankplate/
 * @package		BlankPlate
 * @version		v1.2.3
 */

/**
 * WORLD
 *
 * -------------------------------------------------------------------------------------------------
 */
BODY {
	font-family: "Open Sans", helvetica, arial, sans-serif;
}

H2 {
	font-weight: 300;
}

SMALL {
	font-size: 10px;
}

/* Clear fix */
.clear {
	clear: both;
	display: block;
	float: none;
	font-size: 1px;
	height: 0px;
	line-height: 0
}

/**
 * HEADER
 * Your header rules
 * -------------------------------------------------------------------------------------------------
 */
HEADER {
	background: #5B5F70;
	color: white;
	height: 400px;
	margin: 0 auto;
	width: 100%;
}

HEADER H1 {
	color: inherit;
	font-size: 48px;
	letter-spacing: 4px;
	padding-top: 120px;
	text-transform: uppercase;
	font-weight: 400;
}

HEADER H2 {
	color: inherit;
	font-size: 18px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

/**
 * BODY
 * Your content rules
 * -------------------------------------------------------------------------------------------------
 */
.separator {
	background: white;
	border-bottom: 1px solid #E5E5E5;
	color: #888;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	line-height: 80px;
	letter-spacing: 2px;
	width: 100%;
}

SECTION#body {
	background: #a0cac0;
}

SECTION#body H2 {
	color: white;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 34px;
	margin-top: 2rem;
}

SECTION {
	background: #F1F1F1;
}

ARTICLE {
	padding: 30px 0 20px;
}

ARTICLE H4 {
	color: #E95855;
	margin-bottom: 10px;
}

PRE {
	max-width: 400px;
}

/**
 * TABS
 *
 * -------------------------------------------------------------------------------------------------
 */
.tabs > .horizontal {
	/*border-top: 1px solid #c7c7c7*/
	margin-top: 10px;
	background: white !important;
	/*border-bottom: 4px solid #E95855 !important;*/
}

.tabs > .horizontal SPAN {
	border-bottom: 4px solid #E5E5E5 !important;
	color: #ccc !important;
	font-weight: 300;
	line-height: 186px !important;
	display: block;
	text-align: center;
	font-size: 24px;
}

.tabs .horizontal UL.horizontal {
	list-style: none outside none;
	margin: 0;
}

.tabs .horizontal LI {
	background: white;
	/* border-bottom: 4px solid #E5E5E5; */
	margin: 0 10px 0 0;
	display: inline-block;
}

.tabs .horizontal A {
	color: #325158;
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding: 14px 24px;
	text-decoration: none;
}

.tabs .horizontal LI:hover {
	background: #325158;
	/* border-bottom: 4px solid #68a697; */

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tabs .horizontal LI:hover A {
	color: white;
}

.horizontal .active {
	background: #325158 !important;
	/* border-bottom: 4px solid #68a697 !important; */
}

.horizontal .active A {
	color: white !important;
}

.horizontal .link {
	color: white;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 48px;
	margin-top: 20px;
	margin-left: 6px;
	text-decoration: none;
}

.horizontal .link:hover {
	text-decoration: underline;
	color: inherit;
}

.horizontal .anchorLink {
	border-bottom: 1px dashed white;
	color: white;
	text-decoration: none;
}

.horizontal .anchorLink:hover {
	text-decoration: none;
	border-bottom: none;
	color: inherit;
}

.horizontal .screenshot {
	position: absolute;
	clip: rect(0 0 0 0);
}

.horizontal .prev,
.horizontal .next {
	background: white !important;
	color: #a0cac0 !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.horizontal .prev:hover,
.horizontal .next:hover {
	background: #a0cac0 !important;
	color: white !important;
}

.horizontal .logo {
	margin-top: -6px;
	margin-right: 10px;
	vertical-align: middle;
}

.horizontal .button {
	background-color: #a0cac0;
	border: none;
	border-bottom: 4px solid #68a697;
	color: #FFFFFF;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
	height: 48px;
	line-height: 48px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.horizontal .button:hover {
	background: #93b7ae;
	color: #FFF;
	border-bottom-color: #68a697;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}




/* CUSTOM CSS */

.tabs > .horizontal {
	background: transparent !important;
}

.home-photography-tab {
	text-align: left;
}